html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  height: 100%;
}

.vertical-flex {
  width: 100%;
  height: 100%;
}

.text-areas {
  height: 50%;
}

textarea {
  white-space: pre;
  font-family: monospace;
  line-height: 18px;
  height: 100px;
}

.menu {
  margin: 10px;
  float: left;
  width: 20%;
}

.route {
  float: left;
  width: 70%;
}

td {
  vertical-align: top;
}

.menuItem {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.submenuItem {
  font-size: 12px;
  cursor: pointer;
}

.textarea {
  width: 100%;
  display: block;
}

.half-wide {
  width: 50%;
}

.small-textarea {
  width: 100%;
  display: block;
}

.vector {
  width: 100px;
}

table { width: 100%; }

.graphContainer {
  width: 600px;
  height: 600px;
}
